<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Codecool.CodecoolShop</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
</head>
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor httpContextAccessor
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Product" asp-action="Index"><span style="font-family: Jokerman; color: orangered; font-weight: bold;">CodecoolShop</span></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="Index"><span style="color: white;">Home</span></a>
                        </li>
                        <li class="dropdown show">
                            <a class="dropdown-toggle" href="#" style="text-decoration: none; color: white;" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Categories
                            </a>

                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                @foreach (var element in @ViewBag.Categories)
                                {
                                    <a class="dropdown-item" asp-area="" asp-controller="Product" asp-action="IndexByCategory" asp-route-categoryIndex="@element.Id">@(element.Name)s</a>
                                }
                            </div>
                        </li>
                        <li class="dropdown show">
                            <a class="dropdown-toggle" href="#" style="text-decoration: none; color: white;" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Suppliers
                            </a>

                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                @foreach (var element in @ViewBag.Suppliers)
                                {
                                    <a class="dropdown-item" asp-area="" asp-controller="Product" asp-action="IndexBySupplier" asp-route-supplierIndex="@element.Id">@(element.Name)</a>
                                }
                            </div>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="Privacy"><span style="color: white;">Privacy</span></a>
                        </li>
                        <li class="nav-item nav-right" style="margin: auto; margin-right:0; cursor: pointer;">
                            <a class="nav-link" id="cartBtn"><i class="bi bi-cart" style="color: white;"></i> <span style="color: white;">My Cart</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        @*Cart HTML*@
        <div id="container-cart">
            <div class="CartContainer-cart">
                <div class="Header-cart">
                    <h3 class="Heading-cart">Shopping Cart</h3>
                    <i class="bi bi-cart-x Action-cart"><a asp-area="" asp-controller="Product" asp-action="ClearCart"></a></i>
                </div>
                @foreach (KeyValuePair<Product,int> keyValuePair in @ViewBag.ShoppingCart)
                {
                    <div class="Cart-Items-cart">
                        <div class="image-box-cart">
                            <img src="https://localhost:44368/img/@(keyValuePair.Key.Name).jpg" class="cart-img" />
                        </div>
                        <div class="about-cart">
                            <h1 class="title-cart">@keyValuePair.Key.Name</h1>
                        </div>
                        <div class="counter-cart">
                            <div class="btn-cart">
                                <a asp-area="" asp-controller="Product" asp-action="AddToCart" asp-route-productId="@keyValuePair.Key.Id">
                                    +
                                </a>
                            </div>
                            <div class="count-cart">@keyValuePair.Value</div>
                            <div class="btn-cart">
                                <a asp-area="" asp-controller="Product" asp-action="DeleteFromCart" asp-route-productId="@keyValuePair.Key.Id">
                                    -
                                </a>
                            </div>
                        </div>
                        <div class="prices-cart">
                            <div class="amount-cart">$@(keyValuePair.Key.DefaultPrice)</div>
                            <div class="remove-cart"><i class="bi bi-x">
                                 <a asp-area="" asp-controller="Product" asp-action="RemoveFromCart" asp-route-productId="@keyValuePair.Key.Id"></a>
                            </i></div>
                        </div>
                    </div>
                }
                <hr>
                <div class="checkout-cart">
                    <div class="total-cart">
                        <div>
                            <div class="Subtotal-cart">Sub-Total</div>
                            <div class="items-cart">@ViewBag.ShoppingCart.Count</div>
                        </div>
                        <div class="total-amount-cart">$@(ViewBag.ShoppingCartTotal)</div>
                    </div>
                    <button class="button-cart">Checkout</button>
                </div>
            </div>
        </div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container" style="color: white;">
            &copy; 2021 - <span style="font-family: Jokerman; color: orangered;">CodecoolShop</span> - <a style="color: white;" asp-area="" asp-controller="Product" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
