@model List<Codecool.CodecoolShop.Models.Order>

@{
    ViewData["Title"] = "Order";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor httpContextAccessor


        <h1 class="text-center" >Orders History</h1>
        <div class="container">

            @foreach (var element in Model)
            {
                <div class="col-lg-3 col-lg-3 card-container" style="min-width: 425px;max-width: 425px;">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title text-center">Order</h5>
                            <p class="card-text">
                                Date: @element.OrderDate
                            </p>
                            <p class="card-text">
                                Status: @element.OrderStatus
                            </p>
                            @{ decimal total = 0; }
                            @foreach (var orderProduct in element.OrderProducts)
                            {
                                total += orderProduct.Quantity * orderProduct.Product.DefaultPrice;
                                <div class="Cart-Items-cart">
                                    <div class="image-box-cart" style="margin-right: 10px;">
                                        <img src="https://localhost:@(Context.Request.HttpContext.Request.Host.Port)/img/@(orderProduct.Product.Name).jpg" class="cart-img" />
                                    </div> 
                                    <div class="about-cart centered">
                                        <h1 class="title-cart text-md-center">@orderProduct.Product.Name</h1>
                                    </div>
                                    <div class="counter-cart">
                                        <div class="count-cart">
                                            x@(orderProduct.Quantity)
                                        </div>
                                    </div>
                                    <div class="prices-cart">
                                        <div class="amount-cart">
                                            @orderProduct.Product.DefaultPrice.ToString("C2")
                                        </div>
                                    </div>
                                </div>
                                <hr class="bg-dark" />
                            }

                            <div class="checkout-cart">
                                <div class="total-cart">
                                    <div>
                                        <div class="Subtotal-cart">Sub-Total</div>
                                    </div>
                                    <div class="total-amount-cart me-3" id="order-total-container">@total.ToString("C2")</div>
                                </div>
                                @if (element.OrderStatus == "checked")
                                {
                                    <a type="button" asp-controller=Product asp-action=Payment asp-route-orderId=@element.Id class="btn btn-warning add-cart-btn text-center" id="order-@(element.Id)" style="font-weight: bold; width: 100%;">Continue to Payment</a>
                                }
                            </div>

                        </div>
                    </div>
                </div>
            }
        </div>